[Desktop Entry]
Name=Reddit
Exec=chromium --new-window --ozone-platform=wayland --app=https://www.reddit.com
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-reddit.png
Type=Application
Categories=Network;WebApp;
