[Desktop Entry]
Name=HyprFlux
Exec=chromium --new-window --ozone-platform=wayland --app=https://hyprflux.dev
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-hyprflux.png
Type=Application
Categories=Network;WebApp;
