[Desktop Entry]
Name=LinkedIn
Exec=chromium --new-window --ozone-platform=wayland --app=https://www.linkedin.com
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-linkedin.png
Type=Application
Categories=Network;WebApp;
