[Desktop Entry]
Name=Vercel
Exec=chromium --new-window --ozone-platform=wayland --app=https://vercel.com
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-vercel.png
Type=Application
Categories=Network;WebApp;
