[Desktop Entry]
Name=Figma
Exec=chromium --new-window --ozone-platform=wayland --app=https://www.figma.com
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-figma.png
Type=Application
Categories=Network;WebApp;
