[Desktop Entry]
Name=tldraw
Exec=chromium --new-window --ozone-platform=wayland --app=https://www.tldraw.com
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-tldraw.png
Type=Application
Categories=Network;WebApp;
