[Desktop Entry]
Name=ChatGPT
Exec=chromium --new-window --ozone-platform=wayland --app=https://chat.openai.com
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-chatgpt.png
Type=Application
Categories=Network;WebApp;
