[Desktop Entry]
Name=Ahmad
Exec=chromium --new-window --ozone-platform=wayland --app=https://itsahmad.me
Icon=/usr/share/icons/hicolor/256x256/apps/webapp-itsahmad.png
Type=Application
Categories=Network;WebApp;
